.App-header {
    align-items: center;
    background-color: #24252a;
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 5px;
    width: 100%;
    
}

.separator {
    color: rgb(1, 58, 243);
}

.male-menu,
.female-menu {
    position: relative;
}

.menu-indicator {
    color: #edf0f1;
    cursor: pointer;
    font-weight: 500;
    padding: 8px;
}

.male-menu > ul,
.female-menu > ul {
    background-color: #24252a;
    cursor: pointer;
    color: #fff;
    left: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
}

.male-menu > ul > li,
.female-menu > ul > li {
    border-bottom: 1px solid #444;
    padding: 8px;
    width: 200px;
}

.disclaimer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disclaimer > h1,
.disclaimer > span {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 5px;
}

.assets-container {
    align-items: center;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

